@import '../../styles/variables.module.scss';

.container {
  margin: 15vh auto;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 45vw;
  height: 55vh;
  display: flex;

  .containerLeft {
    width: 50%;
    background-color: $mainRed;
    background: linear-gradient(
      135deg,
      rgba(255, 75, 43, 1) 34%,
      rgba(255, 65, 108, 1) 93%
    );
    color: $white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    .formContainerLeft {
      padding: 10vh 0;
    }

    .text {
      margin-bottom: 3vh;
    }
  }

  .containerRight {
    width: 50%;

    .formContainerRight {
      padding: 30px 20px;

      .form {
        margin-bottom: 20px;
      }
    }
  }
}
